body, html {
  height: 100%;
}

/* NAVBAR */

.navbar-fixed-top {
  background-color: #162035;
}

.nav-link{
  padding-right: 0;
  color: white;
  font-family: 'Roboto Condensed';
  font-size: 1.15em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 1.5em;
}

.nav-link:hover,.nav-link:active{
  color: rgb(145, 235, 12);
}

/* FOOTER */

footer.dark {
  padding: 40px 0;
  width: 100%;
  background-color: #162035;
}

.footer-text p {
  color: #777;
  font-size: 16px;
}

.footer-text hr {
  border-top: 1px solid #8f8f8f;
}

.footer-links {
  height: 40px;
}

.footer-links a {
  color: #fff;
  font-size: 24px;
  margin: 0 15px;
  transition: all ease 300ms;
}

.footer-links a:hover {
  color: rgb(145, 235, 12);
  transition: all ease 300ms;
  opacity: 0.5;
}

/* MAIN SECTION */

#main{
  background-image: url("../img/main.jpg");
  text-align: center;
}

.parallax {
  opacity: 0.9;
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#main .content{
  margin-top: 15%;
}

#main h1{
  font-family: 'Oswald';
  color: white;
  font-size: 85px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 4px 3px rgba(0,0,0,0.6),
               0 8px 13px rgba(0,0,0,0.3),
               0 18px 23px rgba(0,0,0,0.2);
}

#main p{
  display: inline-block;
  font-family: 'Oswald';
  letter-spacing: 1.5px;
  font-size: 1.75rem;
  margin: auto;
  padding: 3px 5px;
  border-radius: 5px;
  text-transform: uppercase;  
}

#main .fab {
  margin: 1.2em 4px 0 4px;
  font-size: 40px;
  color: white;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#main .fab:hover {
  color: rgb(145, 235, 12);
}

.pretty-hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  width: 35rem;
  margin-top: 5rem;
}

/* ABOUT SECTION */

#about{
  background: #FFDF24;
  text-align: center;
}

#about .content{
  margin-top: 2%;
  margin-bottom: 3%;
}

#about h1{
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Oswald';
  text-shadow: 0 4px 2px rgba(0,0,0,0.4),
               0 8px 12px rgba(0,0,0,0.1),
               0 16px 22px rgba(0,0,0,0.1);
  letter-spacing: 1.5px;
}

#about p{
  width: 80%;
  margin: 2% auto 0 auto;
  font-family: 'Roboto';
  font-size: 1.7em;
  letter-spacing: 1px;
}

#about span {
color: rgb(65, 56, 112);
font-weight: bold;
}


/* SKILL SECTION */

#skill .parallax{
  background-image: url("../img/skill.jpg");
  text-align: center;
}

#skill .content {
  margin-top: 5%;
  margin-bottom: 2%;
}

#skill .content div{
  margin-top: 1.5%;
  font-size: 20px;
  color: white;
}

#skill h1, #projects h1{
  font-size: 60px;
  color: white;
  font-family: 'Oswald';
  text-shadow: 0 4px 2px rgba(0,0,0,0.4),
               0 8px 12px rgba(0,0,0,0.1),
               0 16px 22px rgba(0,0,0,0.1);
  letter-spacing: 4px;
}

#skill .fab {
  font-size: 5em;
}


/* PROJECTS SECTION */

#projects {
  background-color: #3f51b5;
}

.project {
  margin-bottom: 30px;
}

.project img {
  width: 100%;
  transition: all ease 300ms;
}

.project-inner {
  box-shadow: 0 28px 25px -25px rgba(0,0,0,.7);
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

.project-inner:hover .project-link {
  background-color: rgba(0,0,0,.8);
  opacity: 1;
}

.project-inner .project-link a {
  opacity: 0;
  transition: all 400ms ease;
  top: 70%;
}

.project-inner:hover .project-link a {
  opacity: 1;
  top: 40%;
}

.project-link {
  display: table-cell;
  height: 100%;
  opacity: 0;
  padding: 0 15px;
  position: absolute;
  text-align: center;
  transition: all 300ms ease;
  vertical-align: middle;
  width: 100%;
}

.project-link i,
.project-link p,
.project-link a {
  color: #fff;
}

.project-link p {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

.project-link a {
  display: block;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

/* CONTACT SECTION */

#contact .parallax {
  text-align: center;
  background: url("../img/contact.jpg");
  color: #282E34;
  color: #162035;
}

#contact .content{
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Oswald';
}

#contact h1 {
  font-size: 50px;
  margin-bottom: 1%;
  text-shadow: 0 4px 2px rgba(0,0,0,0.4),
               0 8px 12px rgba(0,0,0,0.1),
               0 16px 22px rgba(0,0,0,0.1);
  letter-spacing: 1px;
}

#contact p {
  font-family: 'Merriweather';
  font-size: 20px;
  width: 60%;
  margin: 5% auto 0 auto;
}

#contact .parallax .content .row {
  width: 80%;
  margin: 18px auto 0 auto;
}

#contact .parallax .content .row p{
    margin-top: 5px;
    font-family: 'Merriweather';
    font-size: 16px;
}